@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-black text-white;
  }
  
  .bg-background {
    @apply bg-black;
  }
  
  .text-foreground {
    @apply text-white;
  }
}