
run = "bash ./run.sh"
hidden = [".build", ".config"]

[nix]
channel = "stable-23_05"
packages = ["nodejs_20"]

[deployment]
build = ["sh", "-c", "./build.sh"]
run = ["sh", "-c", "./start.sh"]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 40887157
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ". ~/.nix-profile/etc/profile.d/nix.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"/nix/var/nix/profiles/default/bin:$PATH\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "hash -r"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
