
run = "bash ./run.sh"
hidden = [".build", ".config"]

[nix]
channel = "stable-23_05"
packages = ["nodejs_20"]

[deployment]
build = ["sh", "-c", "./build.sh"]
run = ["sh", "-c", "./start.sh"]

[env]
NODE_ENV = "production"
